node_modules
functions/recipes/**
!functions/recipes/.gitkeep
functions/ml/data/procedure-learning-data-input.json
functions/ml/data/procedure-learning-data-output.json
*.js
!functions/license.js
.python-version